:root {
  --verde: #3DBE34;
  --verde-medio: #34A72D;
  --verde-escuro: #2F8F27;
  --preto: #000000;
  --branco: #ffffff;
  --cinza: #f4f4f4;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--branco);
  color: var(--preto);
  padding-top: 70px;
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  background: var(--branco);
  box-shadow: 0 1px 3px #00000010;
  height: 80px;
  position: fixed; /* Torna o cabeçalho fixo na tela */
  top: 0; 
  left: 0; 
  width: 100%; 
  z-index: 1000; /* Garante que o cabeçalho fique acima de outros elementos */
  background-color: #fff; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
  box-sizing: border-box; /*nao aumenta a largura*/
}


.logo {
  height: 70px;
  width: auto;
  margin-right: 30px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 16px;
}

.menu a {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 4px;
}

.menu a:hover {
  color: var(--verde);
}

.menu a.ativo {
  color: var(--verde);
  font-weight: 700;
  border-bottom: 2px solid var(--verde);
}
.menuintro {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 16px;
}

.menuintro a {
  text-decoration: none;
  color: #4a4a4a;
  font-weight: 500;
  transition: color 0.3s, border-bottom 0.3s;
  padding-bottom: 4px;
}

.menuintro a:hover {
  color: var(--verde);
}

.menuintro a.ativo {
  color: var(--verde);
  font-weight: 700;
  border-bottom: 2px solid var(--verde);
}
.botao-login {
  background: var(--verde);
  color: white;
  padding: 10px 24px;
  border-radius: 25px;
  font-weight: 600;
  font-size: 17px;
  margin-left: 20px;
  transition: background 0.3s;
  height: 35px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;/* pra tirar o sublinhado */
}

.botao-login:hover {
  background: var(--verde-escuro);
}

.perfilarea {
  display: flex;
  gap: 30px;
  padding: 40px;
  flex-wrap: wrap;
  background: var(--cinza);
}


.perfilinfo, .perfilmenu {
  flex: 1;
  min-width: 320px;
}


.caixaperfil {
  background: var(--branco);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 2px 8px #00000010;
}


.fotoperfil {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto 15px;
}


.caixaperfil h2, .caixaperfil h3 {
  text-align: center;
  margin-bottom: 10px;
}


.caixaperfil p {
  text-align: center;
  font-size: 14px;
  margin: 5px 0;
}


.listamenu {
  list-style: none;
  padding: 0;
}


.listamenu li {
  margin: 10px 0;
}


.listamenu a {
  display: block;
  background: var(--verde);
  color: white;
  padding: 10px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  transition: background 0.3s;
}


.listamenu a:hover {
  background: var(--verde-escuro);
}